.container {
    border-radius: 15%;
    border: solid 1px var(--color-borders-2);
    background-color: var(--color-background);
    padding: 25px;
    width: 350px;
    height: 350px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacing {
    flex-grow: 1;
}

.buttonContainer > * {
    margin: 20px 0px;
}

.button {
    width: 35%;
}

.select {
    background-color: inherit;
    font: inherit;
    font-size: large;
    border: none;
    padding: 2px 10px;
    color: inherit;
    transition: .1s;
    width: 70%;
}

.select:hover {
    background-color: var(--color-background-2);
}