.container {
    border-radius: 15%;
    border: solid 1px var(--color-borders-2);
    box-shadow: 4px 4px 4px #a3a3a3;
    padding: 25px;
    width: 350px;
    height: 350px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacing {
    flex-grow: 1;
}

.buttonContainer > * {
    margin: 20px 0px;
}

.button {
    width: 35%;
}