.container {
    background-color: var(--color-background);
    border-left: 1px solid var(--color-borders);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.note {
    overflow-wrap: anywhere;
    padding: 60px;
    width: 750px;
    flex: 1;
    background-color: var(--color-background-2);
}

.note:focus {
    outline: none
}

.note > img {
    display: block;
}

.overlay {
    position: absolute;
    height: 94vh;
    top: 5vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal {
    position: absolute;
    top: 10vh;
    width: 400px;
    height: 130px;
    border-radius: 12px;
    border: 1px solid var(--color-borders-2);
    background-color: var(--color-background);
    animation: reveal .25s;
    transition: .25s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    padding: 20px;
}

.revealModal {
    opacity: 1;
}

@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1;}
}

.button {
    border-width: 1px;
    padding: 3px 7px;
}

.textInput {
    margin: 10px 0px;
}

.formatPalette {
    flex-grow: 1;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    margin: 10px 5px;
    padding: 5px;
}

.icon:hover {
    background-color: var(--color-background-focused);
}

.icon:active {
    background-color: var(--color-button-active);
}

.saveButtonContainer {
    display: flex;
    align-items: center;
}

.saveStatus {
    font-size: smaller;
    padding-left: 10px;
}