.container {
    border-radius: 15%;
    border: solid 1px var(--color-borders-2);
    background-color: var(--color-background);
    padding: 25px;
    width: 350px;
    height: 350px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.buttonContainer button {
    outline: none;
    background-color: unset;
    font-family: inherit;
    border: solid 2px var(--color-borders);
    margin: 10px;
    padding: 10px;
    min-width: 100px;
    height: 100px;
    color: var(--color);
}

.buttonContainer button:hover {
    background-color: var(--color-background-focused);
}