.widescreenOrganization {
  display: grid;
  min-height: 100vh;
  grid-template-columns: max-content auto;
  grid-template-rows: 3rem auto;
}

.header {
  grid-column: 1 / 3;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.noteEditor {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /*overflow-y: scroll;*/
}